cat > .gitignore << EOF
# Enviornment
.env
*.env

# Python
__pycache__/
*.py[cod]   
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data sets
raw_data/
processed_data/
results/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
EOFprocessed_data/uber/combined_data.csv
